.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.answer-button {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s,
              color 0.3s;
}

.answer-button:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.answer-button:disabled {
  cursor: no-drop;
}

#next-button {
  display: none;
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 28%;
  padding: 0.625rem;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #001e4d;
}

.correct {
  background: #1aeabc;
}

.incorrect {
  background: #ff9393;
} 